# <center> PHẦN 2. KHÁM PHÁ DỮ LIỆU & ĐẶT CÂU HỎI

# Tổng quan về tiền xử lý dữ liệu
Mục tiêu chính:
## A. Làm sạch dữ liệu (Exploratory Data Analysis - EDA):
1. Khám phá dữ liệu: Đưa ra những đánh giá đầu tiên về dữ liệu để hiểu cấu trúc và ý nghĩa của chúng.
Trước khi xử lý, chúng ta cần hiểu rõ cấu trúc và nội dung của dữ liệu. Các hoạt động bao gồm:

+ Kiểm tra số lượng dòng, cột.
Xác định kiểu dữ liệu của từng cột (số, phân loại, ngày tháng, ...).
+ Kiểm tra tỷ lệ dữ liệu bị thiếu, các giá trị bất thường.
+ Tóm tắt các thống kê cơ bản như trung bình, giá trị nhỏ nhất/lớn nhất, phương sai, ...

(Bước này làm giống format HW2)

2. Xử lý dữ liệu thiếu  (Handling Missing Data):
Dữ liệu thiếu thường gây sai lệch trong phân tích. Chúng ta sẽ điền giá trị bị thiếu bằng các phương pháp như:
+ Giá trị trung bình/median.
+ Thuật toán Machine Learning. Ae chú ý là cần áp dụng đúng model, ví dụ như đối với kiểu dữ liệu là Category (phân lớp) thì nên sử dụng KNN, hoặc int64 (Liên tục) thì xài Linear Regression,....
+ Hoặc loại bỏ các dòng/cột chứa quá nhiều giá trị bị thiếu nếu cần thiết.

3. Xử lý dữ liệu nhiễu: Loại bỏ các giá trị bất thường (outliers) để đảm bảo dữ liệu sạch (Sử dụng  phương pháp như IQR (Interquartile Range) để phát hiện và loại bỏ những giá trị nằm ngoài phạm vi hợp lý.)

4. Chuẩn hóa kiểu dữ liệu:
- Chuyển đổi dữ liệu về đúng kiểu cần thiết (ví dụ: chuyển đổi ngày tháng, số nguyên, số thực).
- Mã hóa dữ liệu phân loại (categorical data) thành dạng số, phù hợp với mô hình (Label Encoding hoặc One-hot Encoding). (nếu cảm thấy cần thiết)
P/s: Thứ tự các bước trên có thể thay đổi, tùy theo ae thiết kế


## B. Giảm chiều dữ liệu(Dimensionality Reduction): Giảm độ phức tạp
1..Khám phá dữ liệu (Tiếp theo):
- Trực quan hóa mối quan hệ giữa các biến để xác định những biến dư thừa, không cần thiết.
- Sử dụng ma trận tương quan (Correlation Matrix) để xem xét độ tương quan giữa các biến:
  - Loại bỏ các biến có độ tương quan cao (vì có thể gây trùng lặp thông tin).
  - Giữ lại các biến quan trọng nhất để giảm độ phức tạp và tăng hiệu quả phân tích.

## C. Chuẩn hóa dữ liệu (Nếu còn thời gian)
- Min-Max Scaling: Đưa dữ liệu về khoảng [0, 1].
- Z-score Standardization: Chuẩn hóa dữ liệu thành phân phối chuẩn với trung bình bằng 0 và phương sai bằng 1.
- Robust Scaling: Loại bỏ tác động của các giá trị ngoại lai khi chuẩn hóa.
- Decimal Scaling: Chia giá trị cho lũy thừa của 10 để thu hẹp giá trị dữ liệu.

## D. Rời rạc hóa dữ liệu (Tìm hiểu thêm)

## E. Lưu dữ liệu sạch: Dữ liệu sau khi tiền xử lý sẽ được lưu lại để sử dụng trong các giai đoạn phân tích tiếp theo.

# Import các thư viện cần thiết

In [32]:
import requests
import json
import pandas as pd
import numpy as np
import time
import datetime
import calendar

# Xử lý file match_overview.csv

Đọc dữ liệu từ file match_overview.csv

In [33]:
match_overview_file_name = "./data/raw_data/match_overview.csv"
raw_df_match_overview = pd.read_csv(match_overview_file_name, sep= ',')
raw_df_match_overview.head(10)

,Match ID,Date,Season,Stadium,Number of Attendance,Referee,Home Team,Away Team,Home Lineup,Away Lineup,Fulltime Score
0,3050170,2018-08-11,18/19,John Smith's Stadium,24121.0,Chris Kavanagh,Huddersfield Town,Chelsea FC,3-5-2 flat,4-3-3 Attacking,0:3
1,3050175,2018-08-11,18/19,Vicarage Road,20051.0,Jonathan Moss,Watford FC,Brighton & Hove Albion,4-4-2 double 6,4-4-1-1,2:0
2,3050168,2018-08-11,18/19,Vitality Stadium,10353.0,Kevin Friend,AFC Bournemouth,Cardiff City,4-4-2 double 6,4-1-4-1,2:0
3,3050176,2018-08-11,18/19,Molineux Stadium,31231.0,Craig Pawson,Wolverhampton Wanderers,Everton FC,3-4-3,4-2-3-1,2:2
4,3050172,2018-08-10,18/19,Old Trafford,74439.0,Andre Marriner,Manchester United,Leicester City,4-1-4-1,4-4-2 double 6,2:1
5,3050169,2018-08-11,18/19,Craven Cottage,24821.0,Mike Dean,Fulham FC,Crystal Palace,4-3-3 Attacking,4-4-2,0:2
6,3050174,2018-08-12,18/19,St Mary's Stadium,30784.0,Graham Scott,Southampton FC,Burnley FC,3-4-2-1,4-2-3-1,0:0
7,3050167,2018-08-12,18/19,Emirates Stadium,59934.0,Michael Oliver,Arsenal FC,Manchester City,4-2-3-1,4-2-3-1,0:2
8,3050173,2018-08-11,18/19,St James' Park,51749.0,Martin Atkinson,Newcastle United,Tottenham Hotspur,4-4-1-1,4-3-2-1,1:2
9,3050171,2018-08-12,18/19,Anfield,53235.0,Anthony Taylor,Liverpool FC,West Ham United,4-3-3 Attacking,4-2-3-1,4:0

# A.1. Khám phá dữ liệu

# Khám phá dữ liệu
## Dữ liệu có bao nhiêu hàng, bao nhiêu cột?

In [34]:
row_num = raw_df_match_overview.shape[0]
col_num = raw_df_match_overview.shape[1]
shape = (row_num, col_num)

print(f"Số dòng và số cột của dữ liệu lần lượt là: {shape}")

Số dòng và số cột của dữ liệu lần lượt là: (3800, 11)

Kết quả trên được in ra là 3800 dòng và có 11 cột và kết quả này đúng như mong đợi. Trong đó, 11 cột thuộc tính dữ liệu đã được định ra trước, 3800 dòng dữ liệu tương đương với 38 trận mỗi mùa giải, và nhóm quyết định thu thập dữ liệu cho 10 mùa giải. Vậy tổng lại, với kết quả thu được là 3800 dòng và 11 cột thì đúng như mong đợi

## Dữ liệu các dòng có bị lặp không?

In [35]:
num_duplicated_rows = raw_df_match_overview.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Dữ liệu không có dòng lặp!")
else:
    print(f"Dữ liệu có {num_duplicated_rows} dòng lặp.")

Dữ liệu không có dòng lặp!

Vậy là ta có đủ lượng dữ liệu để xử lý và các dòng dữ liệu cũng không bị trùng lặp.

## Ý nghĩa của các cột dữ liệu

- Quan sát tổng thể ta có thể thấy tương ứng cho mỗi dòng tương ứng với các số liệu chung của **một trận đấu bóng đá** trong một mùa giải nhất định

- Trong dữ liệu có cột **Season** và **Date** được dùng để lưu trữ mùa giải, ngày của các trận đấu xảy ra.

- Bên cạnh đó, cột **Stadium** ghi nhận tên sân vận động nơi trận đấu được tổ chức, giúp xác định địa điểm thi đấu.

- Cột Attendance ghi lại số lượng khán giả tham dự trận đấu, thể hiện mức độ quan tâm của người hâm mộ.

- Dữ liệu cũng bao gồm thông tin về các đội tham gia, với cột **Home Team** và **Away Team** lần lượt ghi nhận tên đội chủ nhà và đội khách.

- Các cột **Home Lineup** và **Away Lineup** cung cấp thông tin về đội hình xuất phát của hai đội, ví dụ: "4-3-3", "3-5-2 flat",...Điều này có thể phản ánh được rằng những đội thắng thường sử dụng sơ đồ đội hình nào.

- Kết quả trận đấu được thể hiện thông qua cột **Fulltime Score** (tỷ số cuối cùng), điều này

- Cuối cùng, cột **Referee** ghi lại tên trọng tài điều khiển trận đấu, hỗ trợ phân tích vai trò của trọng tài trong trận.

Ngoài ra, chúng ta cũng sẽ xem thử là mỗi cột dữ liệu sẽ có kiểu dữ liệu như thế nào

In [36]:
get_dtypes = raw_df_match_overview.dtypes
get_dtypes

Match ID                  int64
Date                     object
Season                   object
Stadium                  object
Number of Attendance    float64
Referee                  object
Home Team                object
Away Team                object
Home Lineup              object
Away Lineup              object
Fulltime Score           object
dtype: object

## Tỷ lệ thiếu dữ liệu ra sao?

- Trước khi phân tích tỷ lệ thiếu dữ liệu, ta cần làm rõ các cột có kiểu dữ liệu như thế nào.

- Trước tiên, ta nhận thấy là các cột đều có kiểu dữ liệu là **object** ngoại trừ cột **Match ID** và cột **Number of Attendance**. Sau khi xem xét kỹ lại, thì các cột đã ở đúng dạng dữ liệu của nó, nhưng cột **Match ID** ở dạng *int64* và **Number of attendance** ở dạng *float64* không có ý nghĩa nhiều về mặt phân tích. Vì vậy, chúng ta cũng sẽ chuyển đổi kiểu dữ liệu của chúng về dạng **object**

In [37]:
raw_df_match_overview["Match ID"] = raw_df_match_overview["Match ID"].astype(str)
raw_df_match_overview["Number of Attendance"] = raw_df_match_overview["Number of Attendance"].astype(str)
raw_df_match_overview.dtypes

Match ID                object
Date                    object
Season                  object
Stadium                 object
Number of Attendance    object
Referee                 object
Home Team               object
Away Team               object
Home Lineup             object
Away Lineup             object
Fulltime Score          object
dtype: object

# A.2.Xử lý dữ liệu thiếu

Trong bộ dữ liệu này, do không có cột dữ liệu nào là **numeric data** nên chúng ta sẽ không thể trực quan được sự phân phối của mỗi cột dữ liệu. Chúng ta chỉ có thể xem xét được lượng dữ liệu bị thiếu.

In [38]:
missing_data = raw_df_match_overview.isnull().sum()
print(missing_data)

Match ID                0
Date                    0
Season                  0
Stadium                 0
Number of Attendance    0
Referee                 0
Home Team               0
Away Team               0
Home Lineup             2
Away Lineup             2
Fulltime Score          0
dtype: int64

Nhận thấy số dòng dữ liệu bị thiếu là rất ít, và hầu như chỉ thiếu ở 2 cột là **Home Lineup** và **Away Lineup**. Sau khi tìm hiểu nguyên nhân, thì nhóm được phát hiện nguyên nhân không *crawl* được thông tin hiển thị đội hình ở các trận này format không giống các trận khác mặc dù thông tin đó vẫn hiển thị. Vì vậy nhóm tiến hành thực hiện thủ công điền bằng tay ở những chỗ bị thiếu.

In [39]:
rows_with_missing_data = raw_df_match_overview[raw_df_match_overview.isnull().any(axis=1)]
print(rows_with_missing_data)

     Match ID        Date Season          Stadium Number of Attendance  \
3227  3838278  2023-01-04  22/23      Elland Road              36173.0
3298  3838733  2023-03-05  22/23  The City Ground              29353.0
3299  3838723  2023-03-11  22/23    Goodison Park              39036.0
3369  3838645  2023-04-29  22/23     AMEX Stadium              31584.0

           Referee               Home Team                Away Team  \
3227   David Coote            Leeds United          West Ham United
3298   John Brooks       Nottingham Forest               Everton FC
3299  Simon Hooper              Everton FC             Brentford FC
3369   David Coote  Brighton & Hove Albion  Wolverhampton Wanderers

     Home Lineup      Away Lineup Fulltime Score
3227         NaN          4-1-4-1            2:2
3298     4-3-2-1              NaN            2:2
3299         NaN  4-3-3 Attacking            1:0
3369     4-2-3-1              NaN            6:0

In [40]:
raw_df_match_overview.loc[raw_df_match_overview['Match ID'] == "3838278", "Home Lineup"] = "4-4-2 double 6"
raw_df_match_overview.loc[raw_df_match_overview['Match ID'] == "3838733", "Away Lineup"] = "4-5-1"
raw_df_match_overview.loc[raw_df_match_overview['Match ID'] == "3838723", "Home Lineup"] = "4-5-1"
raw_df_match_overview.loc[raw_df_match_overview['Match ID'] == "3838645", "Away Lineup"] = "4-4-2"

In [41]:
missing_data = raw_df_match_overview.isnull().sum()
print(missing_data)

Match ID                0
Date                    0
Season                  0
Stadium                 0
Number of Attendance    0
Referee                 0
Home Team               0
Away Team               0
Home Lineup             0
Away Lineup             0
Fulltime Score          0
dtype: int64

# A.3. Xử lý dữ liệu nhiễu

Giá trị nhiễu thường được định nghĩa là các giá trị bất thường, không hợp lý hoặc không phù hợp với bối cảnh phân tích. Tuy nhiên, trong trường hợp này, do tất cả các cột là dạng object, rất khó xác định tiêu chí nào để phân biệt giá trị hợp lệ và giá trị nhiễu. Vì vậy nhóm quyết định sẽ không xử lý phần này

# B. Giảm chiều dữ liệu

Do mục tiêu của nhóm là dự đoán kết quả trận đấu bóng đá, nên các thông tin sau có thể gây dư thừa:
1. Stadium : Thông tin về sân vận động có thể ảnh hưởng đến điều kiện thi đấu (như sân nhà, sân khách), nhưng đã được phản ánh gián tiếp qua cột Home Team và Away Team. Việc giữ lại cột này không bổ sung thêm giá trị cho mô hình dự đoán.

2. Referee: Trọng tài có thể ảnh hưởng đến một số quyết định trong trận đấu, nhưng họ không giúp xác định được đội nào có khả năng chiến thắng cao hơn.

3. Number of Attendance : Dữ liệu về số khán giả thể hiện mức độ quan tâm đến trận đấu, nhưng không có tác động trực tiếp đến kết quả.

4. Date: Thông tin của cột dữ liệu này có thể gây trùng lặp thông tin với **Season**

In [42]:
columns_to_drop = ['Stadium', 'Referee', 'Number of Attendance', 'Date']
raw_df_match_overview = raw_df_match_overview.drop(columns=columns_to_drop)

In [43]:
raw_df_match_overview

,Match ID,Season,Home Team,Away Team,Home Lineup,Away Lineup,Fulltime Score
0,3050170,18/19,Huddersfield Town,Chelsea FC,3-5-2 flat,4-3-3 Attacking,0:3
1,3050175,18/19,Watford FC,Brighton & Hove Albion,4-4-2 double 6,4-4-1-1,2:0
2,3050168,18/19,AFC Bournemouth,Cardiff City,4-4-2 double 6,4-1-4-1,2:0
3,3050176,18/19,Wolverhampton Wanderers,Everton FC,3-4-3,4-2-3-1,2:2
4,3050172,18/19,Manchester United,Leicester City,4-1-4-1,4-4-2 double 6,2:1
...,...,...,...,...,...,...,...
3795,4095455,23/24,Burnley FC,Nottingham Forest,4-4-2,4-2-3-1,1:2
3796,4095458,23/24,Liverpool FC,Wolverhampton Wanderers,4-3-3 Attacking,3-5-2 flat,2:0
3797,4095460,23/24,Manchester City,West Ham United,4-1-4-1,3-4-3,3:1
3798,4095461,23/24,Sheffield United,Tottenham Hotspur,5-3-2,4-2-3-1,0:3
3799,4095459,23/24,Luton Town,Fulham FC,3-4-3,4-2-3-1,2:4

Dựa vào bảng dữ liệu trên, ta có thể thấy ta cần thêm một đặc trưng **Winner** vào bảng dữ liệu, để mô hình có thể chạy được và phân tích được đội thắng.

In [44]:
def determine_winner(row):
    home_score, away_score = map(int, row['Fulltime Score'].split(':'))
    if home_score > away_score:
        return row['Home Team']  # Đội chủ nhà thắng
    elif home_score < away_score:
        return row['Away Team']  # Đội khách thắng
    else:
        return 'Draw'

In [45]:
raw_df_match_overview['Winner'] = raw_df_match_overview.apply(determine_winner, axis=1)
raw_df_match_overview

,Match ID,Season,Home Team,Away Team,Home Lineup,Away Lineup,Fulltime Score,Winner
0,3050170,18/19,Huddersfield Town,Chelsea FC,3-5-2 flat,4-3-3 Attacking,0:3,Chelsea FC
1,3050175,18/19,Watford FC,Brighton & Hove Albion,4-4-2 double 6,4-4-1-1,2:0,Watford FC
2,3050168,18/19,AFC Bournemouth,Cardiff City,4-4-2 double 6,4-1-4-1,2:0,AFC Bournemouth
3,3050176,18/19,Wolverhampton Wanderers,Everton FC,3-4-3,4-2-3-1,2:2,Draw
4,3050172,18/19,Manchester United,Leicester City,4-1-4-1,4-4-2 double 6,2:1,Manchester United
...,...,...,...,...,...,...,...,...
3795,4095455,23/24,Burnley FC,Nottingham Forest,4-4-2,4-2-3-1,1:2,Nottingham Forest
3796,4095458,23/24,Liverpool FC,Wolverhampton Wanderers,4-3-3 Attacking,3-5-2 flat,2:0,Liverpool FC
3797,4095460,23/24,Manchester City,West Ham United,4-1-4-1,3-4-3,3:1,Manchester City
3798,4095461,23/24,Sheffield United,Tottenham Hotspur,5-3-2,4-2-3-1,0:3,Tottenham Hotspur
3799,4095459,23/24,Luton Town,Fulham FC,3-4-3,4-2-3-1,2:4,Fulham FC

Mục tiêu của nhóm là dự đoán đội nào sẽ có cơ hội thắng trước khi trận đấu diễn ra, vì vậy

- Nếu giữ lại **Fulltime Score** thì mô hình có thể sử dụng thông tin này để "học" kết quả thực tế, dẫn đến việc mô hình không thực sự học được mối quan hệ giữa các đặc trưng khác, như đội hình, đội bóng,...

- Cột **Winner** đã được tính toán trực tiếp từ **Fulltime Score**, do đó, **Fulltime Score** không còn mang thêm thông tin mới mà chỉ lặp lại nội dung.

Vì vậy, ta cần loại bỏ cột **Fulltime Score**

In [46]:
# raw_df_match_overview = raw_df_match_overview.drop(columns=['Fulltime Score'])
# raw_df_match_overview

## Với các cột dữ liệu không phải dạng số, các giá trị được phân bổ như thế nào

In [47]:
def categorical_analysis(df: pd.DataFrame) -> pd.DataFrame:
    cat_cols = df.select_dtypes(exclude=['number']).columns
    analysis_results = []

    for col in cat_cols:
        missing_ratio = round(df[col].isna().sum() / df.shape[0] * 100, 1)
        num_values = df[col].nunique()
        value_counts = df[col].value_counts(normalize=True)
        value_ratios = {val: round(perc * 100, 1) for val, perc in value_counts.items()}

        analysis_results.append({
            'column': col,
            'missing_ratio': missing_ratio,
            'num_values': num_values,
            'value_ratios': value_ratios,
        })

    return pd.DataFrame(analysis_results)


cat_col_info = categorical_analysis(raw_df_match_overview)
cat_col_info

,column,missing_ratio,num_values,value_ratios
0,Match ID,0.0,3800,"{'4095459': 0.0, '3050170': 0.0, '3050175': 0...."
1,Season,0.0,10,"{'20/21': 11.7, '18/19': 10.0, '14/15': 10.0, ..."
2,Home Team,0.0,34,"{'Arsenal FC': 5.0, 'Manchester United': 5.0, ..."
3,Away Team,0.0,34,"{'Chelsea FC': 5.0, 'Everton FC': 5.0, 'West H..."
4,Home Lineup,0.0,25,"{'4-2-3-1': 31.2, '4-3-3 Attacking': 16.4, '4-..."
5,Away Lineup,0.0,24,"{'4-2-3-1': 29.9, '4-3-3 Attacking': 15.8, '4-..."
6,Fulltime Score,0.0,50,"{'1:1': 10.5, '1:0': 9.4, '2:1': 8.0, '2:0': 8..."
7,Winner,0.0,35,"{'Draw': 23.3, 'Manchester City': 7.1, 'Liverp..."

Ở đặc trưng **Winner**, ta nhận thấy số lượng giá trị là 35, hơn 1 đơn vị so với số lượng **Team**, nguyên nhân là vì ở cột **Winner** còn thêm giá trị *Draw*

# C. Chuẩn hóa dữ liệu

Trước hết, ta sẽ xem thử mỗi đặc trưng có kiểu dữ liệu như thế nào

In [48]:
dtype = raw_df_match_overview.dtypes
dtype

Match ID          object
Season            object
Home Team         object
Away Team         object
Home Lineup       object
Away Lineup       object
Fulltime Score    object
Winner            object
dtype: object

Ta nhận thấy trong dữ liệu này, tất cả thuộc tính đều ở dạng *object*, khiến việc chuẩn hóa dữ liệu **numeric** không thể thực hiện được.

Việc chuẩn hóa chỉ áp dụng cho dữ liệu dạng số để đưa các giá trị về cùng một thang đo, nên không thể áp dụng các phương pháp như Min-Max Scaling hay Z-score trong trường hợp này. Hơn nữa, các cột như Match ID và Season không có ý nghĩa về mặt thang đo liên tục, trong khi các cột như Home Team và Winner mang tính phân loại, vốn không cần chuẩn hóa mà cần mã hóa (encoding).

Ngoài ra, khi đến bước tiến hành sử dụng Model, nhóm đã quyết định sử dụng những thuật toán Học Máy không đòi hỏi giá trị dữ liệu là số, nên ta không cần áp dụng kỹ thuật như Label Encoding hoặc One-Hot Encoding để chuyển đổi các giá trị phân loại này thành dạng số.

Ngoài ra, ở file **match_statistic.csv** tồn tại một số trận chứa dữ liệu bị trống, do đó khi đã làm sạch dữ liệu file trên, thì ta cũng sẽ cập nhật những trận đấu trong file **match_overview.csv**

In [49]:
match_statistic_file_name = "./data/clean_data/match_statistics.csv"
clean_df_match_statistic = pd.read_csv(match_statistic_file_name, sep='\t')
clean_df_match_statistic["match_id"] = clean_df_match_statistic["match_id"].astype(str)

In [50]:
match_ids = clean_df_match_statistic["match_id"].tolist()
match_id_dict = {index: match_id for index, match_id in enumerate(match_ids)}
match_id_dict

{0: '3050176',
 1: '3050173',
 2: '3050175',
 3: '3050171',
 4: '3050170',
 5: '3050172',
 6: '3050174',
 7: '3050167',
 8: '3050168',
 9: '3050169',
 10: '3050179',
 11: '3050183',
 12: '3050185',
 13: '3050182',
 14: '3050180',
 15: '3050184',
 16: '3050186',
 17: '3050181',
 18: '3050177',
 19: '3050178',
 20: '3050190',
 21: '3050196',
 22: '3050187',
 23: '3050188',
 24: '3050194',
 25: '3050191',
 26: '3050195',
 27: '3050189',
 28: '3050192',
 29: '3050193',
 30: '3050203',
 31: '3050197',
 32: '3050201',
 33: '3050200',
 34: '3050202',
 35: '3050206',
 36: '3050204',
 37: '3050199',
 38: '3050198',
 39: '3050205',
 40: '3050214',
 41: '3050208',
 42: '3050207',
 43: '3050211',
 44: '3050212',
 45: '3050210',
 46: '3050216',
 47: '3050215',
 48: '3050209',
 49: '3050213',
 50: '3050219',
 51: '3050222',
 52: '3050220',
 53: '3050221',
 54: '3050224',
 55: '3050223',
 56: '3050217',
 57: '3050218',
 58: '3050226',
 59: '3050225',
 60: '3050235',
 61: '3050227',
 62: '3050231',
 63: '3050232',
 64: '3050236',
 65: '3050233',
 66: '3050234',
 67: '3050230',
 68: '3050229',
 69: '3050237',
 70: '3050241',
 71: '3050245',
 72: '3050246',
 73: '3050228',
 74: '3050238',
 75: '3050239',
 76: '3050240',
 77: '3050243',
 78: '3050244',
 79: '3050242',
 80: '3050249',
 81: '3050248',
 82: '3050250',
 83: '3050254',
 84: '3050253',
 85: '3050255',
 86: '3050256',
 87: '3050251',
 88: '3050252',
 89: '3050247',
 90: '3050257',
 91: '3050266',
 92: '3050262',
 93: '3050260',
 94: '3050264',
 95: '3050261',
 96: '3050258',
 97: '3050259',
 98: '3050263',
 99: '3050268',
 100: '3050265',
 101: '3050274',
 102: '3050271',
 103: '3050269',
 104: '3050267',
 105: '3050276',
 106: '3050275',
 107: '3050273',
 108: '3050270',
 109: '3050278',
 110: '3050272',
 111: '3050282',
 112: '3050285',
 113: '3050286',
 114: '3050281',
 115: '3050280',
 116: '3050283',
 117: '3050279',
 118: '3050277',
 119: '3050284',
 120: '3050290',
 121: '3050288',
 122: '3050292',
 123: '3050295',
 124: '3050287',
 125: '3050291',
 126: '3050294',
 127: '3050293',
 128: '3050289',
 129: '3050296',
 130: '3050298',
 131: '3050300',
 132: '3050301',
 133: '3050302',
 134: '3050304',
 135: '3050306',
 136: '3050299',
 137: '3050297',
 138: '3050308',
 139: '3050303',
 140: '3050305',
 141: '3050307',
 142: '3050312',
 143: '3050310',
 144: '3050309',
 145: '3050311',
 146: '3050313',
 147: '3050315',
 148: '3050317',
 149: '3050316',
 150: '3050319',
 151: '3050318',
 152: '3056407',
 153: '3050320',
 154: '3050326',
 155: '3050324',
 156: '3050321',
 157: '3050323',
 158: '3050325',
 159: '3050330',
 160: '3050334',
 161: '3050328',
 162: '3050322',
 163: '3050332',
 164: '3050335',
 165: '3050329',
 166: '3050336',
 167: '3050327',
 168: '3050333',
 169: '3050346',
 170: '3050340',
 171: '3050337',
 172: '3050331',
 173: '3050338',
 174: '3050342',
 175: '3050344',
 176: '3050343',
 177: '3050345',
 178: '3050419',
 179: '3050339',
 180: '3050341',
 181: '3050421',
 182: '3050418',
 183: '3050420',
 184: '3050422',
 185: '3050425',
 186: '3050423',
 187: '3050417',
 188: '3050426',
 189: '3050347',
 190: '3050424',
 191: '3050355',
 192: '3050351',
 193: '3050350',
 194: '3050356',
 195: '3050348',
 196: '3050354',
 197: '3050352',
 198: '3050349',
 199: '3050353',
 200: '3050357',
 201: '3050361',
 202: '3050359',
 203: '3050365',
 204: '3050362',
 205: '3050360',
 206: '3050358',
 207: '3050364',
 208: '3050376',
 209: '3050366',
 210: '3050363',
 211: '3050367',
 212: '3050368',
 213: '3050369',
 214: '3050370',
 215: '3050372',
 216: '3050371',
 217: '3050373',
 218: '3050375',
 219: '3050374',
 220: '3050386',
 221: '3050378',
 222: '3050381',
 223: '3050382',
 224: '3050383',
 225: '3050385',
 226: '3050384',
 227: '3050380',
 228: '3050377',
 229: '3050389',
 230: '3050379',
 231: '3050390',
 232: '3050387',
 233: '3050391',
 234: '3050392',
 235: '3050393',
 236: '3050388',
 237: '3050394',
 238: '3050395',
 239: '3050396',
 240: '3050398',
 241: '3050400',
 242: '3050397',
 243: '3050405',
 244: '3050402',
 245: '3050399',
 246: '3050401',
 247: '3050403',
 248: '3050404',
 249: '3050409',
 250: '3050406',
 251: '3050408',
 252: '3050411',
 253: '3050410',
 254: '3050413',
 255: '3050415',
 256: '3050407',
 257: '3050412',
 258: '3050414',
 259: '3050416',
 260: '3050430',
 261: '3050432',
 262: '3050436',
 263: '3050429',
 264: '3050428',
 265: '3050433',
 266: '3050435',
 267: '3050427',
 268: '3050434',
 269: '3050439',
 270: '3050431',
 271: '3050438',
 272: '3050443',
 273: '3050440',
 274: '3050444',
 275: '3050442',
 276: '3050441',
 277: '3050437',
 278: '3050445',
 279: '3050446',
 280: '3050453',
 281: '3050447',
 282: '3050452',
 283: '3050451',
 284: '3050455',
 285: '3050449',
 286: '3050456',
 287: '3050448',
 288: '3050454',
 289: '3050450',
 290: '3050460',
 291: '3050458',
 292: '3050462',
 293: '3050465',
 294: '3050466',
 295: '3050461',
 296: '3050464',
 297: '3050459',
 298: '3050475',
 299: '3050457',
 300: '3050477',
 301: '3050463',
 302: '3050483',
 303: '3050481',
 304: '3050478',
 305: '3050479',
 306: '3050482',
 307: '3050476',
 308: '3050490',
 309: '3050480',
 310: '3050484',
 311: '3050486',
 312: '3050487',
 313: '3050489',
 314: '3050493',
 315: '3050491',
 316: '3050494',
 317: '3050485',
 318: '3050488',
 319: '3050503',
 320: '3050492',
 321: '3050504',
 322: '3050500',
 323: '3050499',
 324: '3050501',
 325: '3050498',
 326: '3050496',
 327: '3050495',
 328: '3050502',
 329: '3050497',
 330: '3050517',
 331: '3050514',
 332: '3050520',
 333: '3050513',
 334: '3050516',
 335: '3050521',
 336: '3050515',
 337: '3050522',
 338: '3050519',
 339: '3050518',
 340: '3050529',
 341: '3050531',
 342: '3050532',
 343: '3050524',
 344: '3050528',
 345: '3050530',
 346: '3050526',
 347: '3050527',
 348: '3050523',
 349: '3050525',
 350: '3050538',
 351: '3050542',
 352: '3050541',
 353: '3050536',
 354: '3050535',
 355: '3050533',
 356: '3050540',
 357: '3050537',
 358: '3050539',
 359: '3050534',
 360: '3050555',
 361: '3050559',
 362: '3050552',
 363: '3050553',
 364: '3050560',
 365: '3050558',
 366: '3050554',
 367: '3050551',
 368: '3050557',
 369: '3050556',
 370: '3050562',
 371: '3050561',
 372: '3050565',
 373: '3050567',
 374: '3050564',
 375: '3050563',
 376: '3050566',
 377: '3050570',
 378: '3050568',
 379: '2460300',
 380: '3050569',
 381: '2460298',
 382: '2460302',
 383: '2460304',
 384: '2460303',
 385: '2460299',
 386: '2460305',
 387: '2460296',
 388: '2460301',
 389: '2460297',
 390: '2478479',
 391: '2478480',
 392: '2478481',
 393: '2478482',
 394: '2478483',
 395: '2478485',
 396: '2478488',
 397: '2486492',
 398: '2478486',
 399: '2478484',
 400: '2486489',
 401: '2478487',
 402: '2486491',
 403: '2486493',
 404: '2486494',
 405: '2486495',
 406: '2486496',
 407: '2486497',
 408: '2486499',
 409: '2486498',
 410: '2486490',
 411: '2486502',
 412: '2486500',
 413: '2486501',
 414: '2486503',
 415: '2486504',
 416: '2486505',
 417: '2486506',
 418: '2486507',
 419: '2486508',
 420: '2486511',
 421: '2486512',
 422: '2486510',
 423: '2486513',
 424: '2486509',
 425: '2486515',
 426: '2486514',
 427: '2486519',
 428: '2486516',
 429: '2486517',
 430: '2486521',
 431: '2486520',
 432: '2486518',
 433: '2486523',
 434: '2486522',
 435: '2486524',
 436: '2486525',
 437: '2486526',
 438: '2486527',
 439: '2486528',
 440: '2486531',
 441: '2486529',
 442: '2486530',
 443: '2486532',
 444: '2486533',
 445: '2486535',
 446: '2486536',
 447: '2486534',
 448: '2486537',
 449: '2486538',
 450: '2486540',
 451: '2486539',
 452: '2486541',
 453: '2486542',
 454: '2486543',
 455: '2486545',
 456: '2486544',
 457: '2486546',
 458: '2486548',
 459: '2486549',
 460: '2486547',
 461: '2486554',
 462: '2486550',
 463: '2486552',
 464: '2486551',
 465: '2486555',
 466: '2486556',
 467: '2486553',
 468: '2486560',
 469: '2486558',
 470: '2486557',
 471: '2486561',
 472: '2486563',
 473: '2486559',
 474: '2486562',
 475: '2486564',
 476: '2486565',
 477: '2486566',
 478: '2486567',
 479: '2486568',
 480: '2486569',
 481: '2486570',
 482: '2486571',
 483: '2486575',
 484: '2486572',
 485: '2486573',
 486: '2486576',
 487: '2486574',
 488: '2486577',
 489: '2486578',
 490: '2486579',
 491: '2486582',
 492: '2486581',
 493: '2486580',
 494: '2486585',
 495: '2486583',
 496: '2486584',
 497: '2486587',
 498: '2486586',
 499: '2486588',
 500: '2486589',
 501: '2486590',
 502: '2486592',
 503: '2486591',
 504: '2486593',
 505: '2486596',
 506: '2486597',
 507: '2486598',
 508: '2486594',
 509: '2486600',
 510: '2486595',
 511: '2486601',
 512: '2486603',
 513: '2486602',
 514: '2486605',
 515: '2486604',
 516: '2486599',
 517: '2486607',
 518: '2486606',
 519: '2486608',
 520: '2486613',
 521: '2486611',
 522: '2486610',
 523: '2486614',
 524: '2486616',
 525: '2486617',
 526: '2486618',
 527: '2486612',
 528: '2486609',
 529: '2486615',
 530: '2486621',
 531: '2486622',
 532: '2486620',
 533: '2486624',
 534: '2486626',
 535: '2486628',
 536: '2486619',
 537: '2486623',
 538: '2486627',
 539: '2486625',
 540: '2486632',
 541: '2486629',
 542: '2486634',
 543: '2486635',
 544: '2486630',
 545: '2486637',
 546: '2486633',
 547: '2486638',
 548: '2486631',
 549: '2486640',
 550: '2486636',
 551: '2486643',
 552: '2486642',
 553: '2486641',
 554: '2486645',
 555: '2486644',
 556: '2486646',
 557: '2486647',
 558: '2486648',
 559: '2486639',
 560: '2486657',
 561: '2486649',
 562: '2486654',
 563: '2486652',
 564: '2486650',
 565: '2486656',
 566: '2486655',
 567: '2486658',
 568: '2486651',
 569: '2486653',
 570: '2486666',
 571: '2486659',
 572: '2486665',
 573: '2486660',
 574: '2486662',
 575: '2486663',
 576: '2486668',
 577: '2486661',
 578: '2486667',
 579: '2486664',
 580: '2486676',
 581: '2486670',
 582: '2486673',
 583: '2486674',
 584: '2486677',
 585: '2486671',
 586: '2486678',
 587: '2486672',
 588: '2486669',
 589: '2486679',
 590: '2486675',
 591: '2486680',
 592: '2486682',
 593: '2486685',
 594: '2486687',
 595: '2486686',
 596: '2486684',
 597: '2486688',
 598: '2486683',
 599: '2486692',
 600: '2486681',
 601: '2486691',
 602: '2486693',
 603: '2486694',
 604: '2486697',
 605: '2486696',
 606: '2486695',
 607: '2486690',
 608: '2486707',
 609: '2486689',
 610: '2486702',
 611: '2486698',
 612: '2486699',
 613: '2486703',
 614: '2486705',
 615: '2486701',
 616: '2486708',
 617: '2486700',
 618: '2486706',
 619: '2486704',
 620: '2486730',
 621: '2486738',
 622: '2486733',
 623: '2486732',
 624: '2486737',
 625: '2486734',
 626: '2486729',
 627: '2486736',
 628: '2486731',
 629: '2486735',
 630: '2486740',
 631: '2486739',
 632: '2486742',
 633: '2486741',
 634: '2486743',
 635: '2486745',
 636: '2486746',
 637: '2486747',
 638: '2486748',
 639: '2486744',
 640: '2486752',
 641: '2486756',
 642: '2486749',
 643: '2486754',
 644: '2486751',
 645: '2486758',
 646: '2486750',
 647: '2486753',
 648: '2486755',
 649: '2486757',
 650: '2486762',
 651: '2486763',
 652: '2486759',
 653: '2486767',
 654: '2486765',
 655: '2486761',
 656: '2486766',
 657: '2486768',
 658: '2486764',
 659: '2486760',
 660: '2486773',
 661: '2486774',
 662: '2486769',
 663: '2486775',
 664: '2486778',
 665: '2486770',
 666: '2486771',
 667: '2486776',
 668: '2486772',
 669: '2486777',
 670: '2486785',
 671: '2486784',
 672: '2486786',
 673: '2486787',
 674: '2486788',
 675: '2486779',
 676: '2486783',
 677: '2486792',
 678: '2486780',
 679: '2486782',
 680: '2486795',
 681: '2486793',
 682: '2486781',
 683: '2486790',
 684: '2486798',
 685: '2486791',
 686: '2486789',
 687: '2486796',
 688: '2486794',
 689: '2486800',
 690: '2486806',
 691: '2486797',
 692: '2486801',
 693: '2486805',
 694: '2486804',
 695: '2486808',
 696: '2486807',
 697: '2486803',
 698: '2486812',
 699: '2486802',
 700: '2486799',
 701: '2486813',
 702: '2486815',
 703: '2486816',
 704: '2486818',
 705: '2486811',
 706: '2486809',
 707: '2486814',
 708: '2486810',
 709: '2486823',
 710: '2486825',
 711: '2486824',
 712: '2486820',
 713: '2486817',
 714: '2486827',
 715: '2486822',
 716: '2486826',
 717: '2486828',
 718: '2486819',
 719: '2486829',
 720: '2486832',
 721: '2486821',
 722: '2486833',
 723: '2486836',
 724: '2486834',
 725: '2486838',
 726: '2486830',
 727: '2486835',
 728: '2486837',
 729: '2486839',
 730: '2486831',
 731: '2486841',
 732: '2486844',
 733: '2486840',
 734: '2486842',
 735: '2486843',
 736: '2486845',
 737: '2486846',
 738: '2486847',
 739: '2872115',
 740: '2872123',
 741: '2486848',
 742: '2872117',
 743: '2872122',
 744: '2872118',
 745: '2872119',
 746: '2872124',
 747: '2872116',
 748: '2872120',
 749: '2872121',
 750: '2872126',
 751: '2872132',
 752: '2872128',
 753: '2872127',
 754: '2872129',
 755: '2872131',
 756: '2872125',
 757: '2872134',
 758: '2872133',
 759: '2872130',
 760: '2872138',
 761: '2872135',
 762: '2872137',
 763: '2872140',
 764: '2872141',
 765: '2872143',
 766: '2872136',
 767: '2872142',
 768: '2872139',
 769: '2872144',
 770: '2872150',
 771: '2872145',
 772: '2872146',
 773: '2872151',
 774: '2872148',
 775: '2872149',
 776: '2872152',
 777: '2872154',
 778: '2872147',
 779: '2872155',
 780: '2872153',
 781: '2872157',
 782: '2872159',
 783: '2872158',
 784: '2872161',
 785: '2872162',
 786: '2872164',
 787: '2872156',
 788: '2872163',
 789: '2872160',
 790: '2872174',
 791: '2872167',
 792: '2872168',
 793: '2872171',
 794: '2872170',
 795: '2872172',
 796: '2872165',
 797: '2872166',
 798: '2872169',
 799: '2872173',
 800: '2872179',
 801: '2872175',
 802: '2872180',
 803: '2872183',
 804: '2872182',
 805: '2872184',
 806: '2872189',
 807: '2872177',
 808: '2872186',
 809: '2872178',
 810: '2872176',
 811: '2872181',
 812: '2872187',
 813: '2872190',
 814: '2872192',
 815: '2872193',
 816: '2872194',
 817: '2872204',
 818: '2872185',
 819: '2872188',
 820: '2872191',
 821: '2872195',
 822: '2872201',
 823: '2872197',
 824: '2872198',
 825: '2872202',
 826: '2872199',
 827: '2872212',
 828: '2872196',
 829: '2872203',
 830: '2872200',
 831: '2872206',
 832: '2872211',
 833: '2872209',
 834: '2872214',
 835: '2872208',
 836: '2872213',
 837: '2872205',
 838: '2872207',
 839: '2872210',
 840: '2872221',
 841: '2872217',
 842: '2872220',
 843: '2872215',
 844: '2872222',
 845: '2872219',
 846: '2872224',
 847: '2872226',
 848: '2872223',
 849: '2872216',
 850: '2872218',
 851: '2872225',
 852: '2872228',
 853: '2872227',
 854: '2872230',
 855: '2872229',
 856: '2872231',
 857: '2872234',
 858: '2872233',
 859: '2872232',
 860: '2872236',
 861: '2872239',
 862: '2872244',
 863: '2872243',
 864: '2872240',
 865: '2872242',
 866: '2872241',
 867: '2872238',
 868: '2872237',
 869: '2872235',
 870: '2872247',
 871: '2872248',
 872: '2872249',
 873: '2872250',
 874: '2872245',
 875: '2872246',
 876: '2872252',
 877: '2872251',
 878: '2872254',
 879: '2872253',
 880: '2872258',
 881: '2872259',
 882: '2872257',
 883: '2872260',
 884: '2872262',
 885: '2872256',
 886: '2872263',
 887: '2872264',
 888: '2872255',
 889: '2872274',
 890: '2872261',
 891: '2872266',
 892: '2872265',
 893: '2872270',
 894: '2872267',
 895: '2872271',
 896: '2872272',
 897: '2872273',
 898: '2872269',
 899: '2872275',
 900: '2872276',
 901: '2872268',
 902: '2872277',
 903: '2872279',
 904: '2872282',
 905: '2872280',
 906: '2872278',
 907: '2872283',
 908: '2872281',
 909: '2872284',
 910: '2872290',
 911: '2872286',
 912: '2872287',
 913: '2872285',
 914: '2872288',
 915: '2872293',
 916: '2872292',
 917: '2872291',
 918: '2872294',
 919: '2872289',
 920: '2872295',
 921: '2872304',
 922: '2872296',
 923: '2872300',
 924: '2872299',
 925: '2872301',
 926: '2872297',
 927: '2872302',
 928: '2872303',
 929: '2872305',
 930: '2872312',
 931: '2872306',
 932: '2872298',
 933: '2872308',
 934: '2872310',
 935: '2872309',
 936: '2872314',
 937: '2872313',
 938: '2872311',
 939: '2872307',
 940: '2872323',
 941: '2872321',
 942: '2872315',
 943: '2872318',
 944: '2872317',
 945: '2872320',
 946: '2872319',
 947: '2872316',
 948: '2872324',
 949: '2872326',
 950: '2872329',
 951: '2872327',
 952: '2872322',
 953: '2872328',
 954: '2872332',
 955: '2872331',
 956: '2872334',
 957: '2872333',
 958: '2872330',
 959: '2872337',
 960: '2872325',
 961: '2872338',
 962: '2872336',
 963: '2872344',
 964: '2872335',
 965: '2872341',
 966: '2872343',
 967: '2872342',
 968: '2872339',
 969: '2872346',
 970: '2872340',
 971: '2872345',
 972: '2872347',
 973: '2872348',
 974: '2872350',
 975: '2872349',
 976: '2872352',
 977: '2872354',
 978: '2872351',
 979: '2872353',
 980: '2872356',
 981: '2872357',
 982: '2872355',
 983: '2872358',
 984: '2872359',
 985: '2872361',
 986: '2872362',
 987: '2872363',
 988: '2872368',
 989: '2872364',
 990: '2872360',
 991: '2872365',
 992: '2872367',
 993: '2872372',
 994: '2872370',
 995: '2872366',
 996: '2872383',
 997: '2872374',
 998: '2872376',
 999: '2872373',
 ...}

In [51]:
raw_df_match_overview = raw_df_match_overview[raw_df_match_overview["Match ID"].isin(match_id_dict.values())]
raw_df_match_overview = raw_df_match_overview[raw_df_match_overview["Match ID"].isin(match_id_dict.values())]

raw_df_match_overview

,Match ID,Season,Home Team,Away Team,Home Lineup,Away Lineup,Fulltime Score,Winner
0,3050170,18/19,Huddersfield Town,Chelsea FC,3-5-2 flat,4-3-3 Attacking,0:3,Chelsea FC
1,3050175,18/19,Watford FC,Brighton & Hove Albion,4-4-2 double 6,4-4-1-1,2:0,Watford FC
2,3050168,18/19,AFC Bournemouth,Cardiff City,4-4-2 double 6,4-1-4-1,2:0,AFC Bournemouth
3,3050176,18/19,Wolverhampton Wanderers,Everton FC,3-4-3,4-2-3-1,2:2,Draw
4,3050172,18/19,Manchester United,Leicester City,4-1-4-1,4-4-2 double 6,2:1,Manchester United
...,...,...,...,...,...,...,...,...
3795,4095455,23/24,Burnley FC,Nottingham Forest,4-4-2,4-2-3-1,1:2,Nottingham Forest
3796,4095458,23/24,Liverpool FC,Wolverhampton Wanderers,4-3-3 Attacking,3-5-2 flat,2:0,Liverpool FC
3797,4095460,23/24,Manchester City,West Ham United,4-1-4-1,3-4-3,3:1,Manchester City
3798,4095461,23/24,Sheffield United,Tottenham Hotspur,5-3-2,4-2-3-1,0:3,Tottenham Hotspur
3799,4095459,23/24,Luton Town,Fulham FC,3-4-3,4-2-3-1,2:4,Fulham FC

Vậy là chúng ta đã tiền xử lý được dữ liệu, ta sẽ lưu dữ liệu mới vào file mới

In [52]:
raw_df_match_overview.to_csv("./data/clean_data/match_overview.csv", sep='\t', encoding='utf-8', index=False, header=True)